In [1]:
import os
import pandas as pd
import pymongo

# Load data from CSV
df = pd.read_csv("EasyVisa.csv")
print("Initial DataFrame Head:")
df.head()

Initial DataFrame Head:

,case_id,continent,education_of_employee,has_job_experience,requires_job_training,no_of_employees,yr_of_estab,region_of_employment,prevailing_wage,unit_of_wage,full_time_position,case_status
0,EZYV01,Asia,High School,N,N,14513,2007,West,592.2029,Hour,Y,Denied
1,EZYV02,Asia,Master's,Y,N,2412,2002,Northeast,83425.6500,Year,Y,Certified
2,EZYV03,Asia,Bachelor's,N,Y,44444,2008,West,122996.8600,Year,Y,Denied
3,EZYV04,Asia,Bachelor's,N,N,98,1897,West,83434.0300,Year,Y,Denied
4,EZYV05,Africa,Master's,Y,N,1082,2005,South,149907.3900,Year,Y,Certified

In [2]:
print("DataFrame Shape:", df.shape)

DataFrame Shape: (25480, 12)

In [3]:
# Convert DataFrame to dictionary records for MongoDB
data = df.to_dict(orient="records")
print(f"Number of Records to Insert: {len(data)}")

Number of Records to Insert: 25480

In [4]:
# MongoDB configuration
DB_NAME = "US_VISA"
COLLECTION_NAME = "visa_data"
CONNECTION_URL = os.getenv("MONGODB_URL")  # Retrieve URL from environment variables

if not CONNECTION_URL:
    print("Error: MONGODB_URL environment variable is not set.")
else:
    print("MongoDB URL found.")

Error: MONGODB_URL environment variable is not set.

In [ ]:
# import os

# # Set MongoDB connection URL directly in the notebook
# os.environ["MONGODB_URL"] = "mongodb+srv://admin:admin@cluster0.ldykq.mongodb.net/?retryWrites=true&w=majority&appName=Cluster0"

In [6]:
if CONNECTION_URL:
    try:
        # Connect to MongoDB
        client = pymongo.MongoClient(CONNECTION_URL)
        data_base = client[DB_NAME]
        collection = data_base[COLLECTION_NAME]

        # Insert records into MongoDB
        rec = collection.insert_many(data)
        print("Data inserted successfully.")
    except pymongo.errors.ConnectionError as e:
        print("Error connecting to MongoDB:", e)

In [7]:
# Fetch and display records
if CONNECTION_URL:
    records = collection.find()
    for i, j in enumerate(records):
        print(f"{i} : {j}")

In [8]:
# Load MongoDB data back into a DataFrame
if CONNECTION_URL:
    df = pd.DataFrame(list(collection.find()))
    print("Data loaded from MongoDB.")
    df.head()

In [9]:
# Remove the "_id" column if it exists
if "_id" in df.columns.to_list():
    df = df.drop(columns=["_id"], axis=1)
print("DataFrame after removing '_id' column (if present):")
df.head()

DataFrame after removing '_id' column (if present):

,case_id,continent,education_of_employee,has_job_experience,requires_job_training,no_of_employees,yr_of_estab,region_of_employment,prevailing_wage,unit_of_wage,full_time_position,case_status
0,EZYV01,Asia,High School,N,N,14513,2007,West,592.2029,Hour,Y,Denied
1,EZYV02,Asia,Master's,Y,N,2412,2002,Northeast,83425.6500,Year,Y,Certified
2,EZYV03,Asia,Bachelor's,N,Y,44444,2008,West,122996.8600,Year,Y,Denied
3,EZYV04,Asia,Bachelor's,N,N,98,1897,West,83434.0300,Year,Y,Denied
4,EZYV05,Africa,Master's,Y,N,1082,2005,South,149907.3900,Year,Y,Certified